@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");
body{
    background-color: #0253a4;
}

.quiz{

    background-color: #cc2b31;
    color: white;
    border: none;
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;

}
.size{
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;
}
.personality{
    border-radius: 4px;
    cursor: pointer;
    margin: 25px;
}
.answer {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}
h1 {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}
p {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}
.question{
    position: relative;
    border-radius: 8px;
    padding: 20px;
    margin-top: -40px;
    text-align: center;
    z-index: 2;
}
.logo {
    display: block;
    margin: auto;
    width: 50%;
}
.Ant {
    display: block;
    margin: auto;
   
}